/* Estilos para el admin de películas */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #343a40;
}

.card {
    transition: transform 0.3s;
    height: 100%;
}

.card:hover {
    transform: scale(1.05);
}



.card-body {
    text-align: center;
    color: white;
}



button {
    margin: 5px;
}

/* Responsive */
@media (max-width: 768px) {
    .card {
        margin-bottom: 15px;
    }
}
