
/* Encabezados */
h2, h3, h4 {
    color: #E0E0E0; 
    font-weight: bold; /* Hacer el texto más grueso */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
    transition: color 0.3s, text-shadow 0.3s; /* Transiciones suaves */
}

/* Contenedor de Butacas */
.butacas-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    margin: 20px 0;
}

/* Estilo base para las butacas */
.butaca {
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #E0E0E0;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

/* Estado seleccionado para las butacas */
.butaca.selected {
    background-color: #FF8C00;
    color: #FFFFFF;
    border-color: #FFD700;
    box-shadow: 0 4px 15px rgba(255, 140, 0, 0.5);
    transform: scale(1.05);
}

/* Estado de butaca deshabilitada */
.butaca.disabled {
    background-color: #555;
    color: #888;
    cursor: not-allowed;
    opacity: 0.6;
}

/* Hover en butacas */
.butaca:hover:not(.selected):not(.disabled) {
    background-color: #FFD700;
    color: #333;
    transform: scale(1.05);
}

.contenedor-resumen {
    margin: 0 auto; /* Centramos el contenedor */
    width: 100%;
    max-width: 500px; /* Limita el ancho máximo */
    padding-left: 20px;
    padding-right: 20px;
    border-left: 1px solid white;
}
/* Estilo del resumen de compra */
#resumen {
    width: 100%;
    background-color: #1E1E1E;
    border: 1px solid #FFD700;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.2);
    max-height: 400px;
    transition: transform 0.3s, box-shadow 0.3s; /* Transiciones suaves */
}

/* Efecto al pasar el mouse sobre el resumen */
#resumen:hover {
    transform: scale(1.05); /* Efecto de zoom */
    box-shadow: 0 8px 30px rgba(255, 255, 255, 0.2); /* Sombra al hacer hover */
}

.botones-centrados {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    background-color: #FF8C00; /* Color naranja */
    color: #FFFFFF; /* Texto blanco */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s; /* Transición suave */
}

/* Efecto de hover en botones */
.btn:hover {
    background-color: #FFD700; /* Color dorado al pasar el mouse */
}

/* Media queries para hacer responsivo */
@media (max-width: 992px) {
    /* A 4 columnas para pantallas medianas y pequeñas */
    .butacas-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Ajustes para contenedor-resumen en pantallas medianas y pequeñas */
@media (max-width: 768px) {
    /* Cambiar la dirección a columna y centrar */
    .d-flex {
        flex-direction: column;
        align-items: center; /* Centra todos los elementos */
    }

    /* Contenedor de resumen sin margen ni padding y 100% ancho */
    .contenedor-resumen {
        border-left: none; /* Eliminar borde izquierdo */
        padding: 0 !important; /* Quitar cualquier padding */
        margin: 0 !important; /* Quitar márgenes */
        width: 100%; /* Ancho completo */
        margin-top: 30px !important;
    }

    .contenedor-resumen h3 {
        border-top: 1px solid white;
        padding-top: 20px;
    }

    /* Ajuste del resumen de compra */
    #resumen {
        width: 100%; /* Ancho completo */
        margin: 0 auto; /* Centrar horizontalmente */
        padding: 0; /* Quitar el padding interno */
    }

    /* Botones en el centro */
    .botones-centrados {
        margin-top: 20px;
        justify-content: center;
        width: 100%; /* Asegura que ocupe el ancho completo */
    }
}

@media (max-width: 576px) {
    /* Ajustar el resumen de compra y el contenedor de resumen en pantallas más pequeñas */
    .contenedor-resumen {
        padding: 0 !important;
        margin: 0 !important;
        width: 100%; /* Ancho completo */
    }

    #resumen {
        width: 100%; /* Ancho completo */
        margin: 0 auto; /* Centrar horizontalmente */
        padding: 0; /* Eliminar padding */
    }

    /* Ajuste adicional para botones en pantallas pequeñas */
    .col-12.text-center.mt-4 {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
}