/* Estilos principales */
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; /* Fuente principal */
}

/* Contenedor de Preguntas Frecuentes */
.faq-container {
    max-width: 800px;
    margin: 0 auto;
}


/* Estilo de cada pregunta */
.faq-item {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #3d3d3d; /* Fondo de las secciones en un gris más claro */
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(245, 213, 3, 0.905);
}
