/* General Styles */
body {
    font-family: 'Montserrat', sans-serif; /* Fuente principal */
    background-color: #1c1c1c; /* Fondo gris oscuro */
    padding: 0;
    margin: 0;
    color: #ffffff; /* Color de texto blanco */
}

h1 {
    font-size: 4em; /* Tamaño grande para destacar el título */
    margin-top: 40px; /* Espacio superior */
    margin-bottom: 20px; /* Espacio inferior */
    text-align: center;
    background: linear-gradient(90deg, #f39c12, #f1c40f); /* Degradado de color */
    font-weight: 700; /* Negrita */
    text-transform: uppercase; /* Todo en mayúsculas */
    letter-spacing: 2px; /* Espaciado entre letras */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Sombra al texto para darle profundidad */
}


/* Subtítulos dentro del carrusel (h3) */
h3 {
    font-size: 2.2em; /* Tamaño un poco más pequeño */
    font-weight: 600; /* Semi negrita */
    color: #f2f2f2; /* Color claro */
    margin-top: 30px;
    margin-bottom: 0px; /* Espacio inferior reducido para acercar al carrusel */
    text-align: center;
    position: relative;
    padding-bottom: 10px; /* Espacio para el borde */
    border-bottom: 2px solid #f1c40f; /* Borde inferior de color amarillo */
    text-transform: uppercase; /* Todo en mayúsculas */
    letter-spacing: 1px; /* Espaciado entre letras */
    transition: color 0.3s ease, border-bottom-color 0.3s ease; /* Transición suave para hover */
}
/* Efecto hover en los subtítulos */
h3:hover {
    color: #f39c12; /* Cambia el color del texto en hover */
    border-bottom-color: #f39c12; /* Cambia el color del borde inferior en hover */
}
/* Contenedor general del carrusel */
.carousel-container {
    width: 90%; /* Ancho del contenedor */
    margin: 0 auto;
    margin-top: 40px; /* Espacio superior */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px; /* Menor espacio entre los carruseles */
    background-color: #2e2e2e; /* Fondo gris más claro */
    padding: 30px; /* Relleno interno */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5); /* Sombra suave */
}

/* Carrusel principal */
.carousel {
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    padding: 20px;
    background-color: #3a3a3a; /* Fondo del carrusel */
    border-radius: 10px; /* Bordes redondeados */
}

/* Pista del carrusel (donde se desplazan los items) */
.carousel-track {
    display: flex; /* Flexbox para alinear los elementos */
    transition: transform 0.5s ease-in-out; /* Transición suave para el movimiento del carrusel */
    margin-left: 15px; /* Espacio a la izquierda para evitar que los items se corten */
}

/* Elementos individuales del carrusel (promociones) */
.carousel-item {
    min-width: 25%;
    flex: 25%;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    background-color: #505050; /* Fondo gris para los items */
    color: #ffffff; /* Texto blanco */
    border-radius: 10px;
    height: 200px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, background-color 0.3s; /* Animaciones */
}

.carousel-item:hover {
    transform: scale(1.05); /* Zoom al pasar el mouse */
    background-color: #737373; /* Color más claro en hover */
}
/* Estilo de las flechas de navegación */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 30px;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    z-index: 2;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}