
/* Estilos generales - Modo oscuro y rojo */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif; /* Fuente principal */
    background-color: #1a1a1a;
    color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #f9f9f9; 
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Sombra al texto */
}

h1:hover, h2:hover {
    color: #e74c3c; 
    transition: color 0.4s ease;
}

/* Header */
#header-consulta {
    background-color: #333;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* Main y Formulario */
#main-consulta {
    max-width: 80%;
    width: 80%;
    background-color: #303030;
    border-radius: 15px;
    padding: 30px;
    margin: 20px auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    box-sizing: border-box;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

/* Inputs, select y textarea */
input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #f9f9f9;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem; /* Espacio entre los inputs */
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus, 
select:focus {
    border-color: #e74c3c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    outline: none;
}

/* Labels */
label {
    font-weight: bold;
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 5px;
    display: inline-block;
    color: #f9f9f9;
    transition: color 0.3s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Sombra al texto */
}

label:hover {
    color: #e74c3c;
}

.eleccion-consulta {
    align-self: flex-start;
}

.eleccion-consulta label {
    text-align: left;
    width: 100%;
    margin-bottom: 0.5rem;
}


/* Contenedores de inputs específicos */
.nombre-apellido, .email-telefono {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.nombre, .apellido, .email, .telefono {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.mensaje {
    /*border: 2px solid orange;*/
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mensaje textarea {
    max-width: 100%;
}

.preferencia-respuesta-container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-top: 1rem;
    gap: 0.5rem; /* Espacio entre las opciones */
}

input[type="radio"] {
    accent-color: #e74c3c; /* Color de los radio buttons */
    margin-right: 0.5rem;
}

input[type="radio"]:focus {
    outline: 2px solid #e74c3c;
}

/* Aceptar términos y condiciones */
.terminos-container {
    display: flex;
    align-items: center;
    gap: 0.5rem; /* Espacio entre el checkbox y el texto */
    margin-top: 1rem;
}

/* Preferencia de respuesta */
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
    accent-color: #e74c3c; /* Color del checkbox */
    transition: all 0.3s ease;
}

input[type="checkbox"]:focus {
    outline: 2px solid #e74c3c;
}

/* Botones */
input[type="submit"], 
input[type="reset"] {
    padding: 10px 20px;
    margin: 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="submit"],
input[type="reset"] {
    background-color: #dfdbdb;
    color: #333;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #f87e70;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


/* Modo celular */
@media (max-width: 600px) {

    /* Ajustar el contenedor de nombre y apellido */
    .nombre-apellido,
    .email-telefono{
        flex-direction: column; /* Apilar en lugar de en fila */
    }

    .nombre, .apellido, .email, .telefono{
        width: 100%; /* Asegúrate de que ocupen el 100% */
    }
    

}