/* styles.css */

.nosotros-preguntas {
    font-family: 'Arial', sans-serif;
    background-image: url(/images/login.jpg); /* Fondo gris oscuro */
    background-size: cover;
    background-attachment: fixed;
    color: rgb(255, 255, 255);
    line-height: 1.6;
    text-align: center; /* Centramos el texto */
}

.introduccion, .peliculas, .experiencia, .descuentos, .promociones {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    /*background-color: #433838; /* Fondo de las secciones en un gris más claro */
    background: linear-gradient(#817f7e, #0b0f11e2);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(245, 213, 3, 0.905);
}

.introduccion:hover, .peliculas:hover, .experiencia:hover, .descuentos:hover, .promociones:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


h1 {
    color: #eae9e4; 
    text-shadow: 0 0 15px #f9e000
   
}

h2 {
    color: #ffcc00; /* Cambiado a amarillo para mayor contraste */
    margin-bottom: 10px;
    font-size: 1.8em;
    text-align: center;
    font-weight: bold; /* Negrita para subtítulos */
}

p {
    font-size: 1.3em;
    margin-bottom: 15px;
}

strong {
    color: #ff6600; /* Texto destacado en un naranja brillante */
}

